@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

section.hero {
  display: grid;
  grid-template-columns: .4fr .6fr;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: rgba(199, 175, 175, 0.712);
  padding: 0.5rem;
}

input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="text"]:disabled {
  background-color: rgba(20, 19, 19, 0.63);
  cursor: not-allowed;
}

button {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 1rem;
  color: rgb(90, 83, 83);
  padding: 0.5rem;
}

button[type="submit"],
.submit {
  border: 0em;
  background: #f13a01;
  color: #fff;
}

button[type="submit"]:disabled,
.submit:disabled {
  cursor: not-allowed;
  background: #f139018f;
}